* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #C2D9FF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #7752FE;
  padding: 70px 30px 70px 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 2px #190482;
}

input {
  border-radius: 15px;
  padding: 10px;
  border: none;
  background-color: #8E8FFA;
  outline: none;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

.password-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.button {
  display: grid;
  place-content: center;
  margin: 5px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

#buttonIcon {
  filter: invert(1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

span {
  display: grid;
  place-items: center;
  color: #190482;
  margin-bottom: 15px;
  font-weight: bold;
}

.textbox {
  display: grid;
  place-items: center;
  color: #fff;
  margin-top: 15px;
}

.progress-container {
  width: 60%;
  margin: 20px auto;
  height: 20px;
  border-radius: 15px;
  background-color: #c6c6c6;
}

.progress-bar {
  width: 0;
  height: 20px;
  background-color: #4caf50;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  color: white;
}

@keyframes progressBarAnimation {
    from {
        width: 0;
    }
}

#myBar {
    animation: progressBarAnimation 0.5s ease-out;
}
